<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Genre Select</title>
</head>

<body>
    <label for="genres">Choose a Genre!</label>
    <form method="POST" action="/choosegenre">
        <select name=genres>
            {% for genre in genres %}
            <option value="{{genre}}">{{genre}}</option>"
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
        <button type="submit" formaction="/gamepage">Play Game</button>
    </form>
</body>

</html>