<html>
    <head>        
        <title>Profile Page</title>
        <style>
            #temp-user{
                text-align: center;
                color: blue;
            }
        </style>
    </head>

    <body>
         <!-- user's name -->
         <div id="temp-user">
            {% if current_user.is_authenticated %}
             <h2>Hi {{ current_user.username }}!</h2>
            {% endif %}
         </div>
         <!-- end user's name -->
         <div>
            <a href="logout">  
            <button>Log Out</button>  
            </a>
        </div>
        <div>
            <a href="choosegenre">  
            <button> Play Game</button>  
            </a>
        </div>
    </body>
	
</html>