<html>
    <head>        
        <title>Profile Page</title>
        <style>
            #temp-user{
                text-align: center;
                color: black;
                margin: 8%;
                
            }
          body {

            background-color: #E0FFFF;
            max-width: 100%;
            height: auto; 
            
         }
      </style>
    </head>

    <body>
         <!-- user's name -->
         <div id="temp-user">
            {% if current_user.is_authenticated %}
             <h2>Hi {{ current_user.username }}!</h2>
            {% endif %}
         </div>
         <!-- end user's name -->
          <h2 id="temp-user">Welcome to Song Guessing Game</h2>
         <center>
             
         
        <div>
            <a href="choosegenre">  
            <button> Click me to Start! </button>  
            </a>
        </div>
        <div id="temp-user"></div>
        <div>
            <a href="logout">  
            <button>Log Out</button>  
            </a>
        </div>
        </center>
    </body>
    
</html>